.footer-lg {
	display: flex;
	// justify-content: flex-end;
	align-items: flex-end;
    position: relative;
	// border: 1px red solid;
	.menu {
		// padding-top: 140px;
		// border: blue 1px solid;
		width: 100%;
		height: 150px;
	}
	.logo {
        display: flex;
        flex-direction: column;
		margin-right: 80px;
		.circle {
			margin-bottom: 10px;
            background-color: rgb(131, 187, 131);
			width: 72px;
			height: 72px;
		}
		p {
			width: 260px;
			height: 36px;
			font-family: Shabnam-FD;
			font-size: 13px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.85;
			letter-spacing: normal;
			text-align: right;
			color: #ffffff;
		}
	}
}

.footer-list {
    li {
        color: white;
    }
}
