.section-4-lg {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	// border: 1px red solid;
	background-image: linear-gradient(to top, #00a680, #00f4bd);
	position: relative;
	margin-top: 104px;
	height: 350px;
	button {
		span {
			width: 87px;
			height: 18px;
			font-family: Shabnam-fd;
			font-size: 16px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: normal;
			text-align: center;
			color: #ffffff;
        }
        position: relative;
        top: 92px;
        border: transparent;
		width: 160px;
		height: 50px;
		border-radius: 25px;
		box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25),
			0px 7px 20px 0 rgba(227, 84, 39, 0.3);
		background-image: linear-gradient(to top, #e35325, #ff8a65);
	}
	h4 {
		width: 113px;
		height: 26px;
		margin-bottom: 29px;
		font-family: Shabnam-FD;
		font-size: 24px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
	}
	p {
		width: 902px;
		height: 91px;
		font-family: Shabnam-FD;
		font-size: 16px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
	}
}
