.footer-sm {
	height: 378px;

	.circle {
		margin-bottom: 10px;
		background-color: rgb(131, 187, 131);
		border-radius: 50%;
		width: 72px;
		height: 72px;
		border-bottom-left-radius: 144px;
		border-bottom-right-radius: 144px;
	}
}
