.section-1-sm {
	height: 700px;
	direction: rtl;
	display: flex;
	flex-direction: column;
	align-items: center;
	.photo {
		position: relative;
		overflow-x: hidden;
		left: 0;
		height: 360px;
		// border: 1px red solid;
		min-width: 480px;
	}
	.text {
		h1 {
			font-family: Shabnam-FD;
			font-size: 30px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #007f62;
		}
		p {
			font-family: Shabnam-FD;
			font-size: 16px;
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: normal;
			color: #000000;
		}
	}
}

.green-underline-sm {
	margin-top: 17px;
	margin-bottom: 24px;
	width: 70px;
	height: 3px;
	border-radius: 1.5px;
	background-color: #00a680;
}

.slide1-woman {
	position: absolute;
	z-index: -3;
	width: 239px;
	height: 350px;
	left: 80px;
}

.slide1-bg {
	position: relative;
	left: 0;
	top: 50px;
	z-index: -4;
	height: 274px;
}

.slide1-baloon {
	position: absolute;
	left: 0;
}
.baloon1 {
	top: 40px;
	right: 150px;
	width: 42px;
	height: 57px;
}

.baloon2 {
	right: 100px;
	top: 100px;
	width: 24px;
	height: 33px;
}

.baloon3 {
	top: 10px;
	left: 85px;
	width: 29px;
	height: 39px;
}
