@use './setting';
@use './functions';

@keyframes wave-a {
	50% {
		transform: translateY(10px);
	}
}
@keyframes wave-b {
	50% {
		transform: translateY(-10px);
	}
}

.wave-1 {
	top: 1000px;
	animation: wave-a 5s ease-in-out infinite;
}
.wave-2 {
	top: 1000px;
	animation: wave-b 5s ease-in-out infinite;
}

// div {
// 	border: 1px black solid;
// }

.header-wave {
	width: 383px;
	height: 374px;
	opacity: 0.5;
	position: absolute;
	left: 0;
}

.rectangle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-right: 10px;
	width: 120px;
	height: 40px;
	border-radius: 20px;
	box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
	background-image: linear-gradient(to top, #e35325, #ff8a65);
	span {
		// width: 41px;
		// height: 17px;
		font-family: Shabnam-FD;
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
	}
}

.circle {
	margin-right: 20px;
}

nav {
	padding-top: 21px;
	ul {
		padding: 0;
		// margin-top: 21px;
		align-items: center;
		// justify-content: space-between;
		li {
			margin: 0 26px;
			margin-top: 12px;
			font-family: Shabnam-FD;
			font-size: 16px;
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			a {
				color: #333333;
			}
		}
	}
}

.first-container-lg {
	max-width: setting.$containerMaxWidth;
	position: relative;
	height: 219px;
}

.first-container-sm {
	position: relative;
	height: calc(192px + 80px);
	min-width: 360px;
}

.third-container {
	max-width: setting.$containerMaxWidth;
	position: relative;
	height: 816px;
}

.logo-bg {
	width: 406px;
	height: 219px;
	position: absolute;
	z-index: -1;
	right: -168px;
}

.second-container-lg {
	direction: rtl;
	max-width: setting.$containerMaxWidth;
	// border: 2px green solid;
}
.second-container-sm {
	direction: rtl;
	min-width: 360px;
}

.header-h1-lg {
	// width: 230px;
	height: 39px;
	font-family: Shabnam-FD;
	font-size: 40px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #007f62;
}
.header-h1-sm {
	height: 30px;
	font-family: Shabnam-FD;
	font-size: 30px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #007f62;
}

.green-underline-lg {
	margin-top: calc(10px + 15px);
	margin-bottom: 44px;
	width: 70px;
	height: 3px;
	border-radius: 1.5px;
	background-color: #00a680;
}

.green-underline-sm {
	margin-top: 17px;
	margin-bottom: 24px;
	width: 70px;
	height: 3px;
	border-radius: 1.5px;
	background-color: #00a680;
}

.header-p-lg {
	width: 436px;
	height: 89px;
	font-family: Shabnam-FD;
	font-size: 14px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: normal;
	color: #000000;
}
.header-p-sm {
	max-width: 480px;
	height: 113px;
	font-family: Shabnam-FD;
	font-size: 16px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #000000;
}

.slide3-bg {
	position: absolute;
	height: 505px;
	width: 854px;
	z-index: -3;
	left: 0;
	top: 149px;
}

.slide3-traveling {
	height: 655px;
	width: 503px;
	left: 0;
	top: 28px;
	position: absolute;
	z-index: -2;
}

.slide1-woman {
	position: absolute;
	z-index: -3;
	width: 239px;
	height: 350px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border: transparent;
	min-width: 160px;
	height: 50px;
	border-radius: 25px;
	box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
	background-image: linear-gradient(to top, #00a680, #00f4bd);
}

.slide1-bg {
	top: 65px;
	position: absolute;
	z-index: -4;
	min-width: 480px;
	overflow: scroll;
	height: 274px;
}

.circle-border {
	min-width: 72px;
	min-height: 72px;
	border: 1px black solid;
	border-radius: 36px;
	background: white;
	margin: calc(54px / 2) 5px;
	// margin: 200px 0;
}

.icon {
	height: 34px;
	width: 40px;
}

.v-line {
	height: 750px;
	position: absolute;
	z-index: -1;
	border: 1px black solid;
}
